<div id="mainContainer" class="container">

      <!-- Page Heading -->
      <h1 class="my-4">StepsForward
        <small>the future belongs to us all</small>
      </h1>

      <div class="row text-center" style="margin: 0">
        <div class="col-lg-3 portfolio-item">
          <div class="card h-100 no-border">
            <a href="#" (click)="scrollTo('mission')">
              <!-- <img class="card-img-top" src="http://placehold.it/700x400" alt=""> -->
              <i class="material-icons" style="font-size: 100px">library_books</i>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" (click)="scrollTo('mission')">Our Mission</a>
              </h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 portfolio-item">
          <div class="card h-100 no-border">
            <a href="#" (click)="scrollTo('services')">
              <i class="material-icons" style="font-size: 100px">widgets</i>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" (click)="scrollTo('services')">Our Services</a>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 portfolio-item">
          <div class="card h-100 no-border">
            <a href="#" (click)="scrollTo('register')">
              <i class="material-icons" style="font-size: 100px">person_add</i>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" (click)="scrollTo('register')">Become a Resident</a>
              </h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non magni, voluptates quae, necessitatibus unde temporibus.</p> -->
            </div>
          </div>
        </div>
        <div class="col-lg-3 portfolio-item">
          <div class="card h-100 no-border">
            <a href="#" (click)="scrollTo('current')">
              <i class="material-icons" style="font-size: 100px">verified_user</i>
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" (click)="scrollTo('current')">Current Residents</a>
              </h4>
              <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p> -->
            </div>
          </div>
        </div>

      </div>
      <section id= "mission" class="jumbotron dope-shadow text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Mission Statement</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
      <section id= "services" class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Our services</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>

            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Button with data-target
            </button>
            <div class="collapsing" id="collapseExample">
              [ADD THE INFO HERE COREY]
            </div>
        </div>
      </section>
      <section id= "register" class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Become a Resident</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </section>
      <section id= "current" class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Current Residents Login</h1>
          <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
          <p>
            <button class="btn btn-primary" type="button" [routerLink]="['/dashboard']">
              Login
            </button>
          </p>
        </div>
      </section>
</div>
